@font-face {
    font-family: "IRANSans-Regular";
    src: url('../fonts/IRANSansXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "IRANSans-Bold";
    src: url('../fonts/IRANSansXFaNum-Bold.woff') format("woff");
}

body {
    font-family: "IRANSans-Regular";
    user-select: none;
}

.font-bold {
    font-family: "IRANSans-Bold";
}

.cursor {
    cursor: pointer;
}

a:hover {
    color: #12B2B2;
}

.nav-link:focus {
    color: #E5E7EB;
}

.main-outline-hover:hover {
    background-color: transparent;
    color: #12B2B2 !important;
}

.main-gradient-bg {
    background: linear-gradient(268.27deg, #12B2B2 3.31%, #01C5D5 99.99%);
}

.white-gradient-bg {
    background: linear-gradient(267.76deg, rgba(255, 255, 255, 0.64) 0.26%, rgba(255, 255, 255, 0.4) 101.9%);
}

.white-gradient-bg2 {
    background: linear-gradient(96.9deg, rgba(255, 255, 255, 0.8) 12.96%, rgba(255, 255, 255, 0.1) 55.39%),
        linear-gradient(267.76deg, rgba(255, 255, 255, 0.8) 0.26%, rgba(255, 255, 255, 0.5) 101.9%);
}

.border-main {
    border: 1px solid #12B2B2;
}

.z-1 {
    z-index: -1;
}

.z-10 {
    z-index: 10;
}

.z-100 {
    z-index: 100;
}

.ps-100 {
    padding-left: 100px;
}
.bg-login{
    background-image: url('../img/overlay_4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
}
.bg-gray {
    background-color: #6B7280;
}

.bg-gray2 {
    background-color: #E5E7EB;
}

.bg-gray3 {
    background-color: #F3F4F6;
}

.bg-main {
    background-color: #12B2B2;
}

.bg-main2 {
    background-color: #D5F5F6;
}

.bg-main3 {
    background-color: #EDFAFA;
}

.bg-second {
    background-color: #F9A537;
}

.bg-second2 {
    background-color: #FEF2E1;
}

.bg-third {
    background-color: #FF6633;
}

.bg-third2 {
    background-color: #FFE8E0;
}

.bg-purple {
    background-color: #6875F5;
}

.bg-purple2 {
    background-color: #E5EDFF;
}

.text-gray {
    color: #6B7280;
}

.text-gray2 {
    color: #6c757d;
    ;
}

.text-gray3 {
    color: #374151;
}

.text-gray4 {
    color: #1F2A37;
}

.text-gray5 {
    color: #4B5563;
}

.text-gray6 {
    color: #1F2937;
}

.text-main {
    color: #12B2B2;
}

.text-second {
    color: #F9A537;
}

.text-third {
    color: #FF6633;
}

.text-purple {
    color: #6875F5;
}

.special-radius {
    border-radius: 999px 999px 0px 920px;
}
.special-radius2{
    border-radius: 8075px;
}
.rotate-45 {
    transform: rotate(45deg);
}

.outline-none {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.h-100vh {
    height: 100vh;
}

.w-48 {
    width: 48px;
}

.h-48 {
    height: 48px;
}

.w-30 {
    width: 30px;
}

.w-37 {
    width: 37px;
}

.w-72 {
    width: 72px;
}

.h-72 {
    height: 72px;
}
.h-80 {
    height: 80px;
}
.h-90 {
    height: 90px;
}

.h-130 {
    height: 130px;
}

.h-193 {
    height: 193px;
}

.w-171 {
    width: 171px;
}
.w-175 {
    width: 175px;
}
.w-184 {
    width: 184px;
}
.w-256 {
    width: 256px;
}
.w-322 {
    width: 322px;
}

.w-333 {
    width: 333px;
}

.h-333 {
    height: 333px;
}

.w-422 {
    width: 422px;
}

.w-459 {
    width: 459px;
}
.w-460 {
    width: 460px;
}
.h-566 {
    height: 566px;
}
.w-714 {
    width: 714px;
}
.max-w-100 {
    max-width: 100%;
}

.divider {
    width: 1.5px;
    height: 38px;
    background-color: white;
}

.transition {
    transition: all .4s;
}

.rounded-18 {
    border-radius: 18px;
}

.rounded-12 {
    border-radius: 12px;
}

.opacity-none {
    opacity: 0;
}

.focus-none {
    box-shadow: none !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-left: 0.5rem;
}

.alert-dismissible .btn-close {
    left: 0;
    right: auto;
}

.bottom-31 {
    bottom: -31px;
}

.top-99 {
    top: -100px;
}

.top-105 {
    top: -105px;
}

.right-51 {
    right: -51px;
}
.left-107{
    left: 107px;
}
.bottom-41{
    bottom: -41px;
}
.accordion-button::after {
    margin-right: auto;
    margin-left: 0;
}
.accordion-button {
  padding-left: 0;
  padding-right: 0;
}
.accordion-button:not(.collapsed) {
    background-color: white;
}

.accordion-button:not(.collapsed)::after {
    filter: contrast(0%);
}
.accordion-button:focus{
    box-shadow: none;
}
.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-link {
    z-index: 22;
}

.mt-15 {
    margin-top: -15px;
}

.text-justify {
    text-align: justify;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    bottom: 15px;
}

.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    background: white;
}

.swiper-pagination-bullet {
    background: #D1D5DB;
    opacity: 100%;
}

.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 13px;
    background: #00bed8;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    background: white;
    width: 20px;
    height: 8px;
    border-radius: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 16px;
    color: #9CA3AF;
    transition: all .4s;
}

.swiper-button-prev,
.swiper-button-next {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #9CA3AF;
    transition: all .4s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #00bed8;
    border: 2px solid #00bed8;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover:after {
    color: white;
}

img[alt="shape1"] {
    animation: bounce 2525ms infinite ease-in;
}

img[alt="shape2"] {
    animation: bounce2 2725ms infinite ease-in;
}

img[alt="shape3"] {
    animation: bounce 3000ms infinite ease-in;
}
img[src="assets/img/bubble.svg"]{
    animation: rotate 3000ms infinite ease-in;
}
@keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 23px);
    }

    75% {
        transform: translate(0px, -23px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes bounce2 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(16px, 0px);
    }

    75% {
        transform: translate(-16px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}
.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

/* header */
header {
    position: sticky;
    top: 8px;
}

header li a {
    color: #6c757d;
}

header li a.active,
header li a:hover,footer ul li a:hover {
    color: #12B2B2 !important;
}

/* benefits */
.benefit-card:hover {
    background: linear-gradient(86.08deg, #13B3B3 -2.85%, #02C5D4 101.62%);
    color: white;
}

.benefit-card:hover img.position-absolute {
    z-index: 10;
}

.benefit-card svg path,
.benefit-card svg {
    transition: all .4s;
}

.benefit-card:hover svg path,
.benefit-card:hover svg {
    fill: white;
    z-index: 20;
}

/* brands */
.brands img {
    filter: grayscale(100%);
}
.brands .swiper-slide:hover img {
    filter: grayscale(0%);
}
/* footer */
footer .arrow-link {
    transform: rotate(180deg);
    top: -41px;
}
footer .arrow-link:hover svg {
   color: #12B2B2;
}
footer a{
    color: #1F2937;
}

/* responsive */
@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1200px) {

    .h-48 {
        height: 52px;
    }
    .w-714{
        left: 69px;
        width: 571px;
    }
}

@media only screen and (max-width:992px) {
    header ul {
        position: fixed;
        right: -2244px;
        top: 0;
        bottom: 0;
        background: #a2b5ad;
        width: 100%;
        transition: all .4s;
    }
    header ul li {
       width: 100%;
       border-bottom: 1px solid white;
       padding: 14px 3px;
    }
    header ul.active {
        right: 0;
    }

    #banner div.position-absolute {
        position: static !important;
    }

    .ps-100 {
        padding-left: 0;
    }

    .special-radius.w-100 {
        width: 260px !important;
    }
}

@media only screen and (max-width:768px) {

    .h-130,
    .h-193 {
        height: auto;
    }
}

@media only screen and (max-width:576px) {

    .w-422,.w-460 {
        width: 300px;
    }
    .w-714{
        width: 100%;
    }
}

@media only screen and (max-width:400px) {
    #banner div.position-absolute h4 {
        font-size: 16px !important;
      }
}